<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>mznide.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleExecutable</key>
	<string>MiniZincIDE</string>
	<key>CFBundleIdentifier</key>
	<string>org.minizinc.MiniZincIDE-bundled</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>MiniZinc Project</string>
			<key>CFBundleTypeIconFile</key>
			<string>mznide.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mzp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>FlatZinc instance</string>
			<key>CFBundleTypeIconFile</key>
			<string>mznide.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fzn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>MiniZinc Data</string>
			<key>CFBundleTypeIconFile</key>
			<string>mznide.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dzn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>MiniZinc model</string>
			<key>CFBundleTypeIconFile</key>
			<string>mznide.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mzn</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.minizinc.minizinc</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.minizinc.org/</string>
			<key>UTTypeDescription</key>
			<string>MiniZinc model</string>
			<key>UTTypeIconFile</key>
			<string>mznide.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mzn</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.minizinc.flatzinc</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.minizinc.org/</string>
			<key>UTTypeDescription</key>
			<string>FlatZinc model</string>
			<key>UTTypeIconFile</key>
			<string>mznide.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fzn</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.minizinc.minizinc-data</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.minizinc.org/</string>
			<key>UTTypeDescription</key>
			<string>MiniZinc data</string>
			<key>UTTypeIconFile</key>
			<string>mznide.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dzn</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
