.c_node {
	stroke: rgba(0, 0, 0, 1);
	fill: rgba(255, 0, 0, 1);
}

.v_node, .a_node {
	stroke: rgba(0, 0, 0, 1);
	stroke-width: 2px;
	fill: #fff;
}

.two_dim_array_e {
	stroke: rgba(0, 0, 0, 1);
	stroke-width: 1px;
	fill: white;
}

.min_a_btn {
	stroke: black;
	stroke-width: 1px;
	fill: white;
}

.exp_a_node {
	stroke: rgba(0, 0, 0, 1);
	stroke-width: 1px;
	fill: none;
}

.straight_link {
	stroke-width: 1px;
	stroke: #808080;
}

.curved_link {
	stroke-width: 1px;
	stroke: #000;
	fill: none;
}