[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=minizinc.ide
Name=MiniZincIDE
Icon=$SNAP/meta/gui/icon.png
Categories=Science;Development;Education;
